.title {
    background-color: red;
    font-size: 40px;
}

h1 {
    background-color: blue;
}

.items {
    background-color: green;
}

.item-box {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-color: aquamarine;
}